@font-face {
    font-family: 'Font Regular';
    src: url('/creative/source/fonts/font.eot');
    src: url('/creative/source/fonts/font.eot?#iefix') format('embedded-opentype'),
    url('/creative/source/fonts/font.woff2') format('woff2'),
    url('/creative/source/fonts/font.woff') format('woff'),
    url('/creative/source/fonts/font.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}