$banner_width: 300;
$banner_height: 250;

$logo_width: 111px;
$logo_height: 81px;
%logo_position {
    right: 15px;
    bottom: 0px;
}

$image_width: $banner_width + px;
$image_height: $banner_height + px;
%image_position {
    left: 0;
    top: 0;
}

$mask_width: 903px;
$mask_height: $banner_height + px;
%mask_position {
    left: -700px;
    top: 0;
}

$text_width: 162px;
$text_height: 71px;
%text_position {
    left: 15px;
    top: 15px;
}

$cta_width: 89px;
$cta_height: 19px;
%cta_position {
    left: 15px;
    bottom: 15px;
}


@import '../../../styles/main.scss';